body{
     margin: 0px;
    display: flex;
    justify-content: center;
    background-color: rgb(192, 166, 127);
    text-align: center;
   
    
}
.main-container{
    background-color: bisque;
    border: 2px solid black;
    border-bottom: 6px solid black;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

    box-shadow: 0 4px 92px black;
}

h1{
    margin-top: 0px;
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
   
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 2rem;
    
    
}

#user-score,#comp-score{
    font-size: 4rem;
    margin-bottom: 0px;
}



#comp,#you{
    margin-top: 0px;
}

.msg-container{
    padding: 4rem;
    margin-bottom: 3rem;
}

#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}